<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.slyworks.everything_fragments_and_navigation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_white"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_white"
        android:supportsRtl="true"
        android:theme="@style/Theme.Everything_Fragments_and_Navigation">
        <activity
            android:name=".navigation.activities.Nav_RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".navigation.activities.Nav_WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".navGraph.NavGraphMainActivity"
            android:exported="false" />
        <activity
            android:name=".navigation.activities.Nav_LoginActivity"
            android:exported="false" />
        <activity
            android:name=".navigation.activities.Nav_VideoCallActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Navigation" />
        <activity
            android:name=".navigation.activities.Nav_MessageActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Navigation" />
        <activity
            android:name=".navigation.activities.Nav_MainActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Navigation" />
        <activity
            android:name=".book.BookWelcomeActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Book" />
        <activity
            android:name=".book.chap_01.activities.Chap_01_MainActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Book" />
        <activity
            android:name=".book.chap_01.activities.Chap_01_DetailsActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Book" />
        <activity
            android:name=".book.chap_02.Chap_02_MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/AppTheme.Book" />
        <activity
            android:name=".book.chap_03.Chap_03_MainActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Book" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>